<div class="container text-center padded features">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3">
      <%= image_tag "https://raw.githubusercontent.com/lewagon/bootstrap-challenges/master/11-Airbnb-search-form/images/globe.png" %>
      <h2>Discover the world</h2>
      <p>The earth is your new home.</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <%= image_tag "https://raw.githubusercontent.com/lewagon/bootstrap-challenges/master/11-Airbnb-search-form/images/dollar.png" %>
      <h2>Pay online</h2>
      <p>No cash issues anymore.</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <%= image_tag "https://raw.githubusercontent.com/lewagon/bootstrap-challenges/master/11-Airbnb-search-form/images/beer.png" %>
      <h2>Meet people</h2>
      <p>Discover new culture and lifestyle.</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <%= image_tag "https://raw.githubusercontent.com/lewagon/bootstrap-challenges/master/11-Airbnb-search-form/images/heart.png" %>
      <h2>Share and love</h2>
      <p>Join a community you will love.</p>
    </div>
  </div>
</div>
